@{
    ViewData["Title"] = "Home Page";
}

[]
<div class="w-100 d-flex flex-wrap">
    @for (int i=1; i<=8; i++){
<div class="card mx-3 mb-4" style="width: 18rem;">
    <img src="" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Book title</h5>
        <p class="card-text">
            Author:
            Price:
        </p>
        <a href="#" class="btn btn-primary">Add to cart</a>
    </div>
</div>
    }
</div>
